{% extends 'layout.twig' %}

{% block body %}
  <main>
    {% include 'page/header.twig' %}
    {% include 'components/menuMobile.twig' %}
    {% include 'page/banniere.twig' %}
    {% include 'page/clients.twig' %}
  </main>
{% endblock %}