/* font declaration */

@font-face {
  font-family: 'karla-regular';
  src: url('../Karla-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: "karla-regular", Helvetica, Arial, sans-serif;
}

body {
  font-size: 62.5%;
}

header {
  display: flex;
  justify-content: space-between;
  height: 143px;
  background-color: #ffffff;
  padding-top: 20px;
}

@media (max-width: 600px) {
  header {
    height: 50px;
  }
}

header nav a {
  text-decoration: none;
  margin: 12px;
  font-size: 2.4em;
  line-height: 41px;
  color: #171717;
  font-weight: bold;
}

@media (max-width: 600px) {
  header div a, header nav {
    display: none;
  }
}

header div {
  display: flex;
  align-items: flex-start;
}

header nav {
  margin-top: 20px;
}

header div > img {
  margin-top: 30px;
}

@media (max-width: 600px) {
  header div {
    display: block;
    margin: auto;
    text-align: center;
  }
  header div img {
    width: 50%;
    margin-top: 0;
  }
}

.menu-header-mobile {
  /*display: none;*/
  background: #DDDDDD;
  width: 80%;
  position: absolute;
  top: 0;
  right:100%;
  z-index: 1;
  transition: right .7s ease-in-out;
}


.menu-header-mobile nav {
  position: absolute;
  top: 85px;
  right: 0;
  width: 145px;
}

.menu-header-mobile nav a {
  display: block;
  text-decoration: none;
  border-bottom: 1px solid #000000;
  margin-bottom: 20px;
  padding-left: 20px;
  color: #000;
}


.icon-menu-mobile {
  position: absolute;
  top: 5px;
  right: -60px;
  font-size: 50px !important;
}

@media (min-width: 600px) {
  .icon-menu-mobile {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .icon-menu-mobile {
    top: 10px;
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  header div img {
    width: 100px;
  }
  header nav a {
    font-size: 1.6em;
  }
}

#banniere {
  height: 873px;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 600px) and (max-width: 992px) {
  #banniere {
    -webkit-box-align: inherit;
    -webkit-align-items: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
    height: 350px;
  }
}

h1 {
  width: 1233px;
  height: 181px;
  font-size: 7em;
  letter-spacing: 1px;
  line-height: 102px;
  color: #000000;
  margin: auto;
  text-align: center;
}

@media (min-width: 600px) and (max-width: 992px) {
  h1 {
    font-size: 3.5em;
    max-width: 74%;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 3em;
    max-width: 74%;
    line-height: 60px;
  }
  #banniere {
    display: inherit;
    margin-top: 55px;
  }
}

h1 > span {
  white-space: nowrap;
}

h1 span {
  position: relative;
}
h1 .underline::before {
  content: url(../images/underline.png);
  position: absolute;
  top: 21px;
  z-index: -1;
  left: -14px;
}

@media (min-width: 600px) and (max-width: 992px) {
  h1 .underline::before {
    content: url(../images/underline_tablette.png);
    top: -15px;
    left: -6px;
  }
}

@media (max-width: 600px) {
  h1 .underline::before {
    content: url(../images/underline_mobile.png);
    top: 0;
    left: -6px;
  }
}

.responsive-img {
  max-width: 100%;
  height: auto;
}