{% block clients %}
    <section id="clients">
        <h2>Nos clients sont géniaux !</h2>
        <img src="/images/yoko.png" alt="Yoko" class="responsive-img">
        <img src="/images/webedia.png" alt="Webedia" class="responsive-img">
        <img src="/images/avnihr.png" alt="Avnihr" class="responsive-img">
        <img src="/images/seasonly.png" alt="Seasonly" class="responsive-img">
        <img src="/images/joone.png" alt="Joone" class="responsive-img">
        <img src="/images/universal.png" alt="Universal" class="responsive-img">
        <img src="/images/boxtal.png" alt="Boxtal" class="responsive-img">
        <img src="/images/fempo.png" alt="Fempo" class="responsive-img">
        <img src="/images/bonsoirs.png" alt="Bonsoirs" class="responsive-img">
        <img src="/images/mars.png" alt="Mars" class="responsive-img">
        <img src="/images/big_fernand.png" alt="Big Fernand" class="responsive-img">
        <img src="/images/la_fourche.png" alt="La Fourche" class="responsive-img">
        <img src="/images/rivieras.png" alt="Rivieras" class="responsive-img">
        <img src="/images/cdiscount.png" alt="Cdiscount" class="responsive-img">
        <img src="/images/tealer.png" alt="Tealer" class="responsive-img">
    </section>
{% endblock %}