{% block header %}
    <header>
        <div>
            <a href="#"><img src="/images/logo.png" alt="Logo" class="responsive-img" /></a>
            <img src="/images/studio_zerance.png" alt="Studio Zerance" class="responsive-img" />
        </div>
        <nav>
            <a href="#clients">Nos Clients</a>
            <a href="#offre">Notre Offre</a>
            <a href="#studio">Le Studio</a>
            <a href="#" id="contact">Contact</a>
        </nav>
    </header>
{% endblock %}