{% if showPopinConfirmation == true %}
    <div id="confirmation-contact" class="popin-contact">
        <div class="overlay"></div>
        <div class="contact-content">
            <span class="material-symbols-outlined close">close</span>
            <h5>Confirmation</h5>
            <p>{{ gender }}</p>
            <a href="/" title="Ok">Ok</a>
        </div>
    </div>
{% endif %}